body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h4, h5 {
    font-family: 'EB Garamond', serif;
}

.hidden {
    display: none;
}

.my-clients-title {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

/* navbar */
.my-button {
    background-color : #B68C5A !important;
    color: white;
    font-size: 14px;

}

.my-last-btn {
    background-color : #B68C5A !important;
  
}

.last-btn {
    font-size: 10px !important;


}




/* banner */
.masthead {
    background-size: cover;
    min-height: 80vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}



.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}



 @media screen and (max-width: 768px) {
    .masthead {
         /* min-height: 60vh; */
   }
   .banner-header {

   }

   
  } 



/* legal practice */
.my-legal-practice-icon, .my-contact-icon {
    width: 28px;
}



/* Carousel atyles */

.my-carousel-item {
    height: 500px;

}


.my-carousel-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.my-carousel-user-img {
    width: 60px;
}





/* FAQ Styles */
/* card = accordion-item */
/* card header = accordion-header */


.accordion-item , .accordion-header {
    background-color: transparent !important; 
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;

}

.accordion-item {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .08);

}
.accordion-header {


}

 /* = btn-link */
.accordion-button {
   
    /* width: 100%;
    height: 60px;
    color: black;
    
    text-align: left; */
    background: #F3F3F3;
}

.accordion-button::after {
    /* content: '\2212'; */
    /* width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute; */

}

.accordion-button.collapsed{
    content: '\2212';

}

.my-accordion {
    font-size: 20px !important;
    font-family: 'EB Garamond', serif;
    font-weight: 800 !important;

}




.accordion-body {
    /* = card body */
    background: #F3F3F3;
    ;
}


/* contact us */
.my-form-padding {
    padding-bottom: 190px !important;
    
}





/* my color */
.my-color-dark {
   color: #707070;

}